{% extends 'base.html.twig' %}

{% block title %}CoordinateType index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="m-4">Coordinate types</h1>
        <a class="btn btn-primary m-3" href="{{ path('coordinate_type_new') }}">Create new</a>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for coordinate_type in coordinate_types %}
                <tr>
                    <td>{{ coordinate_type.id }}</td>
                    <td>{{ coordinate_type.type }}</td>
                    <td>
                        <a href="{{ path('coordinate_type_show', {'id': coordinate_type.id}) }}">More</a>
                        <a href="{{ path('coordinate_type_edit', {'id': coordinate_type.id}) }}">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}