{% extends 'base.html.twig' %}

{% block title %}Coordinate index{% endblock %}

{% block body %}
    <h1>Coordinate index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for coordinate in coordinates %}
            <tr>
                <td>{{ coordinate.id }}</td>
                <td>{{ coordinate.name }}</td>
                <td>{{ coordinate.address }}</td>
                <td>{{ coordinate.latitude }}</td>
                <td>{{ coordinate.longitude }}</td>
                <td>
                    <a href="{{ path('coordinate_show', {'id': coordinate.id}) }}">show</a>
                    <a href="{{ path('coordinate_edit', {'id': coordinate.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('coordinate_new') }}">Create new</a>
{% endblock %}