{% extends 'base.html.twig' %}

{% block title %}Coordinate list{% endblock %}

{% block body %}
        <div class="container">
        <h1 class="m-4">Coordinate list</h1>

        <a class="btn btn-primary m-3" href="{{ path('coordinate_new') }}">Create new coordinate</a>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for coordinate in coordinates %}
                <tr>
                    <td>{{ coordinate.name }}</td>
                    <td>{{ coordinate.address }}</td>
                    <td>{{ coordinate.latitude }}</td>
                    <td>{{ coordinate.longitude }}</td>
                    <td>
                        <a href="{{ path('coordinate_show', {'id': coordinate.id}) }}">More</a>
                        <span> | </span>
                        {% if is_granted('ROLE_ADMIN') or app.user.id == coordinate.user.id %}
                            <a href="{{ path('coordinate_edit', {'id': coordinate.id}) }}">Edit</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}