{% extends 'base.html.twig' %}

{% block title %}Coordinate{% endblock %}

{% block body %}
        <div class="container">
        <h1 class="m-4">{{ coordinate.name }}</h1>
        {{ include('coordinate/_delete_form.html.twig') }}


            <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ coordinate.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ coordinate.name }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{ coordinate.address }}</td>
                </tr>
                <tr>
                    <th>Latitude</th>
                    <td>{{ coordinate.latitude }}</td>
                </tr>
                <tr>
                    <th>Longitude</th>
                    <td>{{ coordinate.longitude }}</td>
                </tr>
            </tbody>
        </table>

        <a class="btn btn-primary m-3" href="{{ path('coordinate_index') }}">Back to list</a>
        <a class="btn btn-primary m-3" href="{{ path('coordinate_edit', {'id': coordinate.id}) }}">Edit</a>

    </div>
{% endblock %}