{% extends 'base.html.twig' %}

{% block title %}Coordinate{% endblock %}

{% block body %}
        <div class="container">
        <h1 class="m-4">{{ coordinate.name }}</h1>
        {{ include('coordinate/_delete_form.html.twig') }}

        <a href="{{ asset('uploads/images/' ~ coordinate.image) }}">View image</a>
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ coordinate.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ coordinate.name }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{ coordinate.address }}</td>
                </tr>
                <tr>
                    <th>Latitude</th>
                    <td>{{ coordinate.latitude }}</td>
                </tr>
                <tr>
                    <th>Longitude</th>
                    <td>{{ coordinate.longitude }}</td>
                </tr>
            </tbody>
        </table>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Note</h1>
                <p class="lead">{{ coordinate.coordinateNote }}</p>
            </div>
        </div>

        <a class="btn btn-primary m-3" href="{{ path('coordinate_index') }}">Back to list</a>
        <a class="btn btn-primary m-3" href="{{ path('coordinate_edit', {'id': coordinate.id}) }}">Edit</a>


        <br><br>
        {% include '@FOSComment/Thread/async.html.twig' with {'id': coordinate.thread.id} %}

    </div>
{% endblock %}