{% extends 'base.html.twig' %}

{% block title %}Coordinate{% endblock %}

{% block body %}
    <h1>Coordinate</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ coordinate.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ coordinate.name }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ coordinate.address }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ coordinate.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ coordinate.longitude }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('coordinate_index') }}">back to list</a>

    <a href="{{ path('coordinate_edit', {'id': coordinate.id}) }}">edit</a>

    {{ include('coordinate/_delete_form.html.twig') }}
{% endblock %}